<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @orphan_sponsorship.first_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @orphan_sponsorship.age %>
</p>

<p>
  <strong>Sponsorship number:</strong>
  <%= @orphan_sponsorship.sponsorship_number %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @orphan_sponsorship.bio %>
</p>

<p>
  <strong>Image:</strong>
  <%= @orphan_sponsorship.image %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @orphan_sponsorship.slug %>
</p>

<%= link_to 'Edit', edit_orphan_sponsorship_path(@orphan_sponsorship) %> |
<%= link_to 'Back', orphan_sponsorships_path %>
